{{- define "main" -}}

<article class="article">

  {{ partial "page_header.html" . }}

  <div class="article-container">

    <div class="article-style">
      {{ .Content }}
    </div>

    {{/* Wowchemy uses page_metadata.html for author info */}}
    {{ partial "page_metadata.html" . }}
    
    {{/* This renders the author profile card */}}
    {{ if site.Params.section_pager }}
      <div class="article-widget">
        {{ partial "page_author_card.html" . }}
      </div>
    {{ else }}
      {{ partial "page_author_card.html" . }}
    {{ end }}

    {{/* Share buttons - you can remove this if you don't want them */}}
    <div class="share-box" aria-hidden="true">
      {{ partial "share.html" . }}
    </div>

  </div>

</article>

{{- end -}}