// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

// Enlarge the hero media image on desktop
@media (min-width: 768px) {
  .wg-hero .hero-media {
    width: 100%;
  }
  .wg-hero .hero-media img {
    max-width: none;
    width: 100%;
    height: auto;
  }
}
